*{
    padding: none;
    text-decoration: none;
    background: #FFF;
    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.title{
    color: #FF8C00;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
}

.container{
    border-top: 2px solid #FF8C00; 
    display: flex;
    align-items: center;
}

.contform{
    margin-top: 30;
    margin-left: 300px;
}

label{
    padding:  5px;
    color: #FF8C00;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

input{
    color: #FF8C00;
    border: #FF8C00 solid 2px;
    font-size: 10px
    font-family: 'Poppins', sans-serif; 
    margin-bottom: 7px;   
}

button{
    color: #FF8C00;
    background-color: #000;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;    
}

Img{
    height: 400px;
    width: 400px;
    margin-left: 20px;
    border-radius: 50%;    
}

h2{
    color: #5ddf7d;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    text-align: center; 
}





