*{
    padding: none;
    text-decoration: none;
    background: #1C1C1C;    
}

.title{
    text-align: center;
    color: #FF8C00;
    font-size: 40px;
}

.container{ 
    border-top: 2px solid #FF8C00;
    padding: 30px;   
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contadora{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.itens{
    margin-right: 15px;
    color: #FF8C00;
    font-size: 20px;
}    

input{
    color: #FF8C00;
    border: #FF8C00 solid 2px;
    font-size: 20px;
    margin-bottom: 15px;
}



